{% extends "layouts/base.html.twig" %}

{% set title = 'coaster_ranking.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
  <meta name="description" content="{{ 'coaster_ranking.description'|trans }}"/>
{% endblock %}

{% set pageHasFilters = true %}

{% block secondary_sidebar %}
  {% include 'partials/_filter_sidebar.html.twig' with {
    'filters': filters|default({}), 
    'filtersForm': filtersForm,
    'filterConfig': {
      'endpoint': path('ranking_search_async'),
      'container_id': 'ranking-result',
      'update_url': true,
      'excluded_filters': ['score', 'kiddie', 'sortByDistance']
    }
  } only %}
{% endblock %}

{% block body %}
  {# Wrapper with right margin on desktop for fixed filter sidebar #}
  <div class="lg:mr-72">
    {% include 'Ranking/info.html.twig' with {'ranking': ranking, 'previousRanking': previousRanking} only %}
    
    <div id="ranking-result">
      {% include 'Ranking/results.html.twig' with {'coasters': coasters, 'filtered': filtered, 'firstRank': firstRank} only %}
    </div>
  </div>
  
  {# Mobile filter button - sticky at bottom #}
  <div class="lg:hidden fixed bottom-4 right-4 z-40">
    <button type="button"
            class="flex items-center gap-2 px-4 py-3 bg-cc-blue-600 hover:bg-cc-blue-700 text-white font-medium rounded-full shadow-lg hover:shadow-xl transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-cc-blue-500 focus:ring-offset-2"
            data-action="global#openFilterSidebar">
      {{ ux_icon('tabler:adjustments-horizontal', {'class': 'w-5 h-5', 'aria-hidden': 'true'}) }}
      <span>{{ 'filters.title'|trans }}</span>
    </button>
  </div>
{% endblock %}
