{% extends "base.html.twig" %}

{% set title = 'coaster_ranking.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
  <meta name="description" content="{{ 'coaster_ranking.description'|trans }}"/>
{% endblock %}

{% set pageHasFilters = true %}

{% block secondary_sidebar %}
  {% include 'Includes/filter_sidebar.html.twig' with {
    'filters': filters|default({}), 
    'filtersForm': filtersForm,
    'filterConfig': {
      'endpoint': path('ranking_search_async'),
      'container_id': 'ranking-result',
      'update_url': true,
      'excluded_filters': ['score']
    }
  } only %}
{% endblock %}

{% block body %}
  {% include 'ranking/info.html.twig' with {'ranking': ranking, 'previousRanking': previousRanking} only %}
  <div id="ranking-result"></div>
{% endblock %}

{% block javascripts %}
{% endblock %}
