###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/images/banners/*
/public/images/coasters
/.idea/
/node_modules
