<div class="footer text-muted">
    &copy; {{ 'now'|date('Y') }}.
    Made with <i class="icon-heart6"></i> by the <a href="https://coastersworld.fr" target="_blank">Coasters World</a>
    community.
</div>