<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    <li class="active">
                        <a href="{{ path('bdd_index_coaster') }}">
                            <i class="icon-home4"></i> <span>Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://coastersworld.fr/"><i class="icon-newspaper2"></i> <span>Actualités</span></a>
                    </li>
                    <li>
                        <a href="https://forum.coastersworld.fr/"><i class="icon-bubble2"></i> <span>Forum</span></a>
                    </li>
                    <li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('logout') }}"><i class="icon-switch2"></i> <span>Se déconnecter</span></a>
                        {% else %}
                            <a href="{{ path('logout') }}"><i class="icon-lock"></i> <span>Se connecter</span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->
    </div>
</div>