# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    mail_from:
    mail_from_name:

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Images
    base_path_images: '/Users/florian/Sites/backup/cw-legacy/photo'
    base_url_images: 'images/coasters/{coasterId}/big/{fileName}'

    # Coaster
    default_coaster_id: 1985

    # User / Authentication
    facebook_client_id:
    facebook_client_secret:
