# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Router
    context_host:
    context_scheme: 'https'

    # Database
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    # Mail
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mail_from:
    mail_from_name:
    mail_to:

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Images
    base_path_images: '/Users/florian/Sites/backup/cw-legacy/photo'
    base_upload_path: '%kernel.project_dir%/web/upload'
    watermark_path: '%kernel.project_dir%/web/images/watermark-cc.png'
    jpegoptim_path: '/usr/local/bin/jpegoptim'
    liip_imagine.jpegoptim.binary: '%jpegoptim_path%'

    # Banner
    banner_font_path: '%kernel.project_dir%/web/fonts/OpenSans-Regular.ttf'
    banner_target_path: '%kernel.project_dir%/web/images/banners'
    banner_background_path: '%kernel.project_dir%/web/images/background-banner.png'

    # Temp
    default_coaster_id: 2183

    # Authentication
    facebook_client_id:
    facebook_client_secret:
    google_client_id:
    google_client_secret:

    # Discord
    discord_channels:
        log:
        notify:
