{% extends "base.html.twig" %}

{% set title = 'policy.title'|trans([], 'policy') %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="panel">
    <div class="panel-body">
      <div class="content-group-lg">

        <div class="content-group">
          {{ 'policy.content'|trans({'{contact_link}': path('default_contact')}, 'policy')|raw }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
