{% extends "layouts/base.html.twig" %}

{% set title = 'policy.title'|trans([], 'policy') %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <article class="bg-white dark:bg-neutral-900 rounded-2xl overflow-hidden shadow-sm">
    <div class="p-8 prose prose-neutral dark:prose-invert max-w-none">
      <section class="mb-12">
        <div class="text-neutral-700 dark:text-neutral-300">
          {{ 'policy.content'|trans({'{contact_link}': path('default_contact')}, 'policy')|raw }}
        </div>
      </section>
    </div>
  </article>
{% endblock %}
