{# templates/admin/field/review_content.html.twig #}
<div class="review-content-field">
    <div class="bg-white dark:bg-neutral-900 rounded-2xl shadow-sm overflow-hidden">
        <div class="p-6">
            {{ field.value|raw }}
        </div>
    </div>
</div>