{# templates/admin/field/review_content.html.twig #}
<div class="review-content-field">
    <div class="card">
        <div class="card-body">
            {{ field.value|raw }}
        </div>
    </div>
</div>