.sectionheader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.sectionheader-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sectionheader-title {
    flex-shrink: 0;
}

.sectionheader-form {
    max-width: 150px;

    select {
        font-size: unset!important;
        min-height: unset!important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
