.list-feed {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.list-feed > li {
    position: relative;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 28px;
}

.list-feed > li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #78909c;
    border-radius: 50%;
    z-index: 3;
}

.list-feed > li:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 3px;
    bottom: -6px;
    width: 2px;
    background-color: #78909c;
    z-index: 2;
}

.list-feed > li:first-child:after {
    top: 8px;
}

.list-feed > li:last-child {
    padding-bottom: 0;
}

.list-feed > li:last-child:after {
    display: none;
}
