/*--  Overrides  --*/

/* == Components == */

.btn {
    @apply font-medium;
}

.card {
    .card-title {
        @apply text-base font-medium;
    }

    .card-body {
        @apply gap-0;
    }
}

.table {
    th {
        @apply font-medium;
    }
}

.menu {
    .menu-title {
        @apply text-base-content/70 font-medium;
    }
}

.timeline:not(.timeline-vertical) > li > hr {
    height: 2px;
}

.timeline.timeline-vertical > li > hr {
    width: 2px;
}

/* == Forms == */

.fieldset {
    .fieldset-legend {
        @apply text-base-content/80 text-sm font-normal;
    }
    .fieldset-label,
    .label {
        @apply text-base-content/80 text-sm;
    }
}

.checkbox,
.radio,
.range,
.toggle {
    &:disabled {
        @apply opacity-35;
    }
}

.label {
    @apply text-base-content/80 cursor-pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}

/* ==  Theme Specific  == */

[data-theme="material"],
[data-theme="material-dark"] {
    .card {
        @apply shadow-none;
        &.card-border {
            @apply border-0;
        }
    }
}
