@plugin "daisyui" {
    exclude: rootscrollgutter;
}
@plugin "daisyui/theme" {
    name: 'dracula';
    prefersdark: true;

    --root-bg: var(--color-base-200);
    --layout-sidebar-background: var(--color-base-100);
    --layout-topbar-background: var(--color-base-100);
}

@plugin "daisyui/theme" {
    name: 'pastel';
    default: true;

    --root-bg: var(--color-base-200);
    --layout-sidebar-background: var(--color-base-100);
    --layout-topbar-background: var(--color-base-100);
}
