{% extends "base.html.twig" %}

{% set title = 'nearby.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% set pageHasFilters = true %}

{% block secondary_sidebar %}
  {% include 'Includes/filter_sidebar.html.twig' with {'filters': filters, 'filtersForm': filtersForm} only %}
{% endblock %}

{% block body %}
  <div id="search-result"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    // Switchery is auto-loaded by webpack, just add event listeners
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.toggle-switch-form-group input[type="checkbox"]').forEach(function(element) {
        element.addEventListener('change', function() {
          filterData();
        });
      });
    });
  </script>
  <script type="text/javascript">
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        $('#form-latitude').val(position.coords.latitude);
        $('#form-longitude').val(position.coords.longitude);
        filterData();
      }, function(position) {
        console.log(position);
        filterData();
      });
    } else {
      filterData();
    }

    function filterData() {
      $.ajax({
        url: Routing.generate('nearby_coasters_ajax', {'_locale': '{{ app.request.locale }}'}),
        type: 'GET',
        data: $('form').serialize(),
      }).done(function(data) {
        $('#search-result').html(data);
        ajaxPager();
      });
    }

    var ajaxPager = function() {
      $('ul.pagination a').click(function(e) {
        e.preventDefault();
        var pageUrl = $(this).attr('href');

        $.ajax({
          url: pageUrl,
          type: 'GET',
          dataType: 'html',
        }).done(function(data) {
          $('#search-result').html(data);
          ajaxPager();
        });
      });
    };
  </script>
{% endblock %}
