<div class="footer text-muted">
    2017-{{ 'now'|date('Y') }}.
    Crafted with {{ heroicon('heart', 'w-6 h-6', 'solid') }} by French coaster enthusiasts.
    <a href="{{ path('app_terms_conditions') }}">{{ 'title'|trans([], 'policy') }}</a>
</div>
