<div class="footer text-muted">
    2017-{{ 'now'|date('Y') }}.
    Crafted with <i class="icon-heart6"></i> by French coaster enthusiasts.
    <a href="{{ path('app_terms_conditions') }}">{{ 'title'|trans([], 'policy') }}</a>
</div>
