<div class="footer text-muted">
    &copy; {{ 'now'|date('Y') }}.
    Crafted with <i class="icon-heart6"></i> by French coaster enthusiasts.
    <a href="{{ path('default_terms') }}">{{ 'footer.terms'|trans }}</a>
</div>
