{% extends "base.html.twig" %}

{% set title = 'error.maintenance.title'|trans %}

{% block body %}
    <div class="text-center content-group">
        <h1 class="error-title">Hold on tight</h1>
        <h3>{{ 'error.maintenance.message'|trans }}</h3>
    </div>
{% endblock %}
