<div class="page-header">
  <div class="flex flex-col md:flex-row justify-content-between items-start align-items-md-center gap-3">
    <!-- Page title -->
    <div class="page-title{% if hideTitle|default(false) == true %} d-none d-sm-block{% endif %}">
      <h1 class="h4 mb-0 font-semibold">{{ title }}{% if subTitle %} <span class="text-neutral-600 dark:text-neutral-400 font-normal">• {{ subTitle }}</span>{% endif %}</h1>
      {% if secondaryTitle %}
        <p class="text-neutral-600 dark:text-neutral-400 text-sm mb-0 mt-1">{{ secondaryTitle }}</p>
      {% endif %}
    </div>

    <!-- Page actions -->
    <div class="flex items-center gap-2">
      {% block page_actions %}{% endblock %}
    </div>
  </div>
</div>
