{% extends "base.html.twig" %}

{% set title = 'error.generic.title'|trans %}

{% block body %}
    <div class="text-center content-group">
        <h1 class="error-title">500</h1>
        <h3>{{ 'error.generic.message'|trans }}</h3>
    </div>
{% endblock %}