{% extends "base.html.twig" %}

{% set title = 'users.reviews.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="row">
    {% include 'Includes/list_reviews.html.twig' with {'reviews': reviews} only %}
  </div>

  {{ knp_pagination_render(reviews) }}
{% endblock %}
