{% extends "base.html.twig" %}

{% set title = 'user_list.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    {# info alert #}
    <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h6 class="alert-heading text-semibold">{{ 'user_list.info.title'|trans }}</h6>
        <p>{{ 'user_list.info.text'|trans }}</p>
    </div>
    {# /info alert #}
    {% include 'Includes/list_users.html.twig' with {'users': users, 'border': true} %}
    {{ knp_pagination_render(users) }}
{% endblock %}
