name: 'CI'

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  extensions: redis, xsl

            - name: Lint Composer config
              run: composer validate --strict

            - uses: php-actions/composer@v6
              id: install
              with:
                  php_extensions: redis xsl
                  memory_limit: 256M

            - name: Run PHPUnit tests
              run: vendor/bin/phpunit

            - uses: php-actions/phpstan@v3

            - name: PHP-CS-Fixer
              # php-cs-fixer v3.90.0
              uses: docker://oskarstark/php-cs-fixer-ga@sha256:4cff5e369642fa2ce75238310a457c784ded88dbe0400474292f69218e099a4a
              with:
                  args: --diff --dry-run

            - name: Lint Twig templates
              run: ./bin/console lint:twig templates --env=prod

            - name: Lint Parameters and Services
              run: ./bin/console lint:container --no-debug

            - name: Lint Doctrine entities
              run: ./bin/console doctrine:schema:validate --skip-sync -vvv --no-interaction

            - name: Check if any dependencies are compromised
              run: composer audit --abandoned=ignore
