{% extends "base.html.twig" %}

{% set title = 'report.list.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4">
      {% for key, report in reports if key in [0,3,6] %}
        {% include 'BddBundle:Report:panel_tr.html.twig' with {'report': report} only %}
      {% endfor %}
    </div>
    <div class="col-md-4">
      {% for key, report in reports if key in [1,4,7] %}
        {% include 'BddBundle:Report:panel_tr.html.twig' with {'report': report} only %}
      {% endfor %}
    </div>
    <div class="col-md-4">
      {% for key, report in reports if key in [2,5,8] %}
        {% include 'BddBundle:Report:panel_tr.html.twig' with {'report': report} only %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
